rqt-topic==1.5.0
rqt-py-console==1.0.2
ament-uncrustify==0.12.14
tf2-tools==0.25.18
examples-rclpy-minimal-publisher==0.15.5
action-tutorials-py==0.20.7
ament-cpplint==0.12.14
ros2interface==0.18.15
rqt-bag==1.1.5
rqt-gui-py==1.1.9
launch==1.0.13
rqt-plot==1.1.5
rosidl-runtime-py==0.9.3
ament-package==0.14.1
launch-xml==1.0.13
ros2param==0.18.15
ros2run==0.18.15
examples-rclpy-executors==0.15.5
ros2node==0.18.15
sros2==0.10.7
ros2component==0.18.15
rqt-bag-plugins==1.1.5
rqt-service-caller==1.0.5
demo-nodes-py==0.20.7
tf2-ros-py==0.25.18
rqt-shell==1.0.2
ros2launch==0.19.13
examples-rclpy-minimal-action-server==0.15.5
ament-flake8==0.12.14
sensor-msgs-py==4.9.0
ament-xmllint==0.12.14
ros2cli==0.18.15
examples-rclpy-minimal-service==0.15.5
rqt-graph==1.3.1
ament-cppcheck==0.12.14
ros2lifecycle==0.18.15
tf-transformations==1.1.0
ament-index-python==1.4.0
examples-rclpy-minimal-action-client==0.15.5
ament-lint==0.12.14
rpyutils==0.2.2
domain-coordinator==0.10.0
topic-monitor==0.20.7
rqt-publisher==1.5.0
launch-testing-ros==0.19.13
ros2doctor==0.18.15
ros2bag==0.15.15
rqt-reconfigure==1.1.2
ament-copyright==0.12.14
ros2service==0.18.15
rqt-gui==1.1.9
examples-rclpy-minimal-subscriber==0.15.5
ros2multicast==0.18.15
ament-lint-cmake==0.12.14
rqt-console==2.0.3
ament-pep257==0.12.14
ros2topic==0.18.15
launch-testing==1.0.13
osrf-pycommon==2.1.6
ros2action==0.18.15
examples-rclpy-minimal-client==0.15.5
rosidl-cli==3.1.8
rqt-srv==1.0.3
launch-yaml==1.0.13
ros2pkg==0.18.15
launch-ros==0.19.13
quality-of-service-demo-py==0.20.7
teleop-twist-keyboard==2.4.1
rqt-msg==1.2.0
ros2plugin==5.1.3
rqt-action==2.0.1
rmw-dds-common==1.6.0
pcl-msgs==1.0.0
rosidl-typesupport-introspection-cpp==3.1.8
image-geometry==3.2.1
tf2-geometry-msgs==0.25.18
std-msgs==4.9.0
shape-msgs==4.9.0
rosbag2-py==0.15.15
qt-gui==2.2.4
rosidl-adapter==3.1.8
action-msgs==1.2.2
rosidl-generator-cpp==3.1.8
turtlesim==1.4.3
example-interfaces==0.9.3
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-fastrtps-cpp==2.2.4
std-srvs==4.9.0
rosgraph-msgs==1.2.2
lifecycle-msgs==1.2.2
angles==1.15.0
rcl-interfaces==1.2.2
stereo-msgs==4.9.0
interactive-markers==2.3.2
sensor-msgs==4.9.0
ament-cmake-test==1.3.12
python-qt-binding==1.1.3
diagnostic-msgs==4.9.0
tf2-sensor-msgs==0.25.18
statistics-msgs==1.2.2
composition-interfaces==1.2.2
map-msgs==2.1.0
rosidl-typesupport-fastrtps-c==2.2.4
resource-retriever==3.1.3
action-tutorials-interfaces==0.20.7
tf2-msgs==0.25.18
rosidl-typesupport-c==2.0.2
unique-identifier-msgs==2.2.1
rclpy==3.3.19
rosbag2-interfaces==0.15.15
rosidl-parser==3.1.8
geometry-msgs==4.9.0
builtin-interfaces==1.2.2
rosidl-typesupport-cpp==2.0.2
rqt-py-common==1.1.9
rosidl-cmake==3.1.8
qt-dotgraph==2.2.4
actionlib-msgs==4.9.0
qt-gui-cpp==2.2.4
cv-bridge==3.2.1
laser-geometry==2.4.1
rcutils==5.1.8
rosidl-generator-c==3.1.8
rosidl-generator-py==0.14.6
tf2-kdl==0.25.18
pendulum-msgs==0.20.7
qt-gui-py-common==2.2.4
visualization-msgs==4.9.0
logging-demo==0.20.7
trajectory-msgs==4.9.0
message-filters==4.3.11
tf2-py==0.25.18
nav-msgs==4.9.0
nvidia-cudnn-cu12==9.10.2.21
charset-normalizer==3.4.4
prompt_toolkit==3.0.52
cycler==0.12.1
colorama==0.4.6
smmap==5.0.2
paramiko==4.0.0
gitdb==4.0.12
tensordict==0.10.0
Pygments==2.19.2
psutil==7.2.2
httpx==0.28.1
wcwidth==0.2.14
jedi==0.20.0
nvidia-cuda-runtime-cu12==12.8.90
cryptography==46.0.3
mujoco-warp==3.8.1
rsl-rl-lib==5.0.1
MarkupSafe==3.0.3
typer==0.25.1
importlib_resources==6.5.2
sympy==1.14.0
ipython_pygments_lexers==1.1.1
executing==2.2.1
glfw==2.10.0
mpmath==1.3.0
docstring_parser==0.17.0
ImageIO==2.37.2
torchrunx==0.3.4
anyio==4.12.1
Deprecated==1.3.1
networkx==3.6.1
trimesh==4.11.1
torch==2.9.1
better-actuator-models==1.0.1
flatbuffers==25.12.19
websockets==15.0.1
decorator==5.2.1
mediapy==1.2.6
imageio-ffmpeg==0.6.0
matplotlib==3.10.9
traitlets==5.15.1
packaging==25.0
requests==2.32.5
tyro==1.0.5
rustypot==1.5.0
nvidia-cusolver-cu12==11.7.3.90
parso==0.8.7
nvidia-cusparselt-cu12==0.7.1
onnx-ir==0.1.14
markdown-it-py==4.0.0
stack-data==0.6.3
huggingface_hub==1.15.0
PyYAML==6.0.3
bcrypt==5.0.0
contourpy==1.3.3
nvidia-nvjitlink-cu12==12.8.93
kiwisolver==1.5.0
sentry-sdk==2.49.0
grpcio==1.76.0
prettytable==3.17.0
zstandard==0.25.0
pillow==12.2.0
certifi==2026.1.4
etils==1.13.0
pydantic==2.12.5
matplotlib-inline==0.2.2
ml_dtypes==0.5.4
pycparser==2.23
ptyprocess==0.7.0
setuptools==80.9.0
mjviser==0.0.14
nvidia-curand-cu12==10.3.9.90
typing_extensions==4.15.0
protobuf==6.33.6
orjson==3.11.5
mjlab-microduck==0.1.0
tqdm==4.67.1
nvidia-cublas-cu12==12.8.4.1
asttokens==3.0.1
absl-py==2.3.1
scipy==1.18.0
nvidia-cufft-cu12==11.3.3.83
wandb==0.24.0
h11==0.16.0
fsspec==2026.1.0
fabric==3.2.2
platformdirs==4.5.1
six==1.17.0
nvidia-nvshmem-cu12==3.3.20
torchvision==0.24.1
Markdown==3.10
GitPython==3.1.46
python-dateutil==2.9.0.post0
pyvers==0.1.0
onnxruntime==1.24.4
pyparsing==3.3.2
importlib_metadata==8.7.1
zipp==3.23.0
cloudpickle==3.1.2
mjlab==1.3.0
nvidia-nvtx-cu12==12.8.90
numpy==2.4.1
ipython==9.15.0
httpcore==1.0.9
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cufile-cu12==1.13.1.3
pydantic_core==2.41.5
nvidia-cuda-cupti-cu12==12.8.90
typeguard==4.4.4
warp-lang==1.12.0
viser==1.0.30
Werkzeug==3.1.5
tensorboard==2.20.0
triton==3.5.1
annotated-doc==0.0.4
mujoco==3.10.0
PyOpenGL==3.1.10
annotated-types==0.7.0
pexpect==4.9.0
shellingham==1.5.4
invoke==2.2.1
typing-inspection==0.4.2
pure_eval==0.2.3
mdurl==0.1.2
cffi==2.0.0
wrapt==2.0.1
Jinja2==3.1.6
rich==14.2.0
msgspec==0.20.0
hf-xet==1.5.0
nvidia-cusparse-cu12==12.5.8.93
click==8.3.1
tensorboard-data-server==0.7.2
onnx==1.22.0
urllib3==2.6.3
fonttools==4.63.0
idna==3.11
onnxscript==0.5.7
PyNaCl==1.6.2
nvidia-nccl-cu12==2.27.5
filelock==3.20.3
